!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %title Huaming Rao
    %meta{:content => "Huaming Rao", :name => "author"}/
    %meta{:content => "Human Computer Interaction, Crowdsourcing, Rails Developer", :name => "keywords"}/
    /[if lt IE 9]
      <script src="js/html5shiv/html5shiv.js" type="text/javascript"></script>
      <script src="js/html5shiv/html5shiv-printshiv.js" type="text/javascript"></script>
      <style type="text/css">.site_nav { border-bottom: 1px solid #d4d4d4; }</style>
    / build:css(.tmp) styles/main.css
    %link(rel="stylesheet" href="styles/main.css" type="text/css")
    / endbuild
    :css
      [touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }
  %body
    .wrapper
      .container
        .upbtnwrapp
          .upbtn{:style => "display: block;"}
            %span.icon-up-open-big
        / NAVIGATION
        %nav#site_nav.site_nav{:style => "position: fixed; margin-bottom: 55px; width: 940px; top: 0px;"}
          %ul
            %li
              %a{:href => "#about_me"} About me
            %li
              %a{:href => "#news"} News
            %li
              %a{:href => "#my_expertise"} My Expertise
            %li
              %a{:href => "#publications"} Publications
            %li
              %a{:href => "#projects"} Projects
            %li
              %a{:href => "#education"} Education
            %li
              %a{:href => "#portfolio"} Photo
            %li
              %a{:href => "#disqus_thread"} Contact
        / /site_nav
        #aftermenuspace{:style => "height: 55px;"}
        / HEADER
        %header.site_header.centerise.borderbtn
          #logoline
            %h1 Huaming Rao
          %h2 PhD Student
          -#%h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vestibulum varius risus ut purus dignissim sed sagittis libero rutrum.
          %img{:src => "images/my_keywords.png", :width => "60%"}
        / /site_header
        / end HEADER
        .container-fluid.page
          / ABOUT ME
          %section#about_me.row-fluid.about_me
            %aside.span3.aside_el
              %h2 About me
              %h5
                professional profile
                %br/
                and contact info
            %article.span6.borderleft.par_el
              %span.circle
                %img{:alt => "", :src => "images/mypic.png", :style => "float:left"}/
              %p 
                I’m a PH.D. candidate from Nanjing University of Science & Technology (NUST), Nanjing, P.R China, supervised by Prof. Chuancai Liu. major on artificial intelligence & pattern recognition, and now I'm studying in the University of Illinois at Urbana-Champaign (UIUC) as a visiting student working in the 
                %a(href="http://cascade.cs.illinois.edu" target="_blank")
                  CASCAD Lab
                , supervised by
                %a{:href => "http://www.cs.illinois.edu/homes/wfu/", :target => "_blank"}
                  Prof. Wai-Tat Fu.
              %p
                My research interests broadly lie in the fields of machine learning, crowdsourcing and social computing. I'm also an experienced web developer as a fan of Ruby on Rails, AngularJs, etc. 
              %p
                BTW, I'm enthusiastic about testing.
            .span3.cont_info
              .soc
                %ul
                  %li
                    %a{:href => "http://www.linkedin.com/in/huamingrao/", :target => "_blank"}
                      %img{:alt => "", :src => "images/linkedin.png"}/
                  %li
                    %a{:href => "https://github.com/raohuaming", :target => "_blank"}
                      %img{:alt => "", :src => "images/github.png"}/
                  %li
                    %a{:href => "http://www.facebook.com/huaming.rao", :target => "_blank"}
                      %img{:alt => "", :src => "images/facebook.png"}/
                  %li
                    %a{:href => "http://www.twitter.com/raohuaming", :target => "_blank"}
                      %img{:alt => "", :src => "images/twitter.png"}/
                  -#%li
                    -#%a{:href => ""}
                      -#%img{:alt => "", :src => "images/google-plus.png"}/
              .info
                %ul
                  -#%li
                    -#%span.icon-mobile
                    -#%a +387 51 000 111
                  -#%li
                    -#%span.icon-location
                    -#%a
                      -#3314 Siebel Center
                      -#%br
                      -#201 N. Goodwin Ave.
                      -#%br
                      -#Urbana, Illinois 61801
                  %li
                    -#%span.icon-mail
                    -#%a
                    %img{:src => "images/email.png"}
            / /cont_info
          / /about_me
          / end ABOUT ME
          / MY news
          %section#news.row-fluid.news
            %aside.span3.aside_el
              %h2 News
              %h5
                What's happening
            %article.span9.borderleft.par_el
              %ul
                %li
                  %p 
                    I wrote a blog about our work accepted by HCOMP13 on the site CrowdResearch:
                    %a(href="http://crowdresearch.org/blog/?p=8186" target="_blank")
                      What Will Others Choose? How a Majority Vote Reward Scheme Can Improve Human Computation in a Spatial Location Identification Task
                %li
                  %p I just finished my trip to Yellowstone.
                  %blockquote
                    %p “Moved into a state of awe at the majesty of the Creator’s touch.”
                    %small
                      %cite(title="Vignette: The Yellowstone Experience") Vignette: The Yellowstone Experience

          / /news
          / end MY NEWS
          / MY EXPERTISE
          %section#my_expertise.row-fluid.my_expertise
            %aside.span3.aside_el
              %h2 My Expertise
              %h5
                skills that I’m
                %br/
                proud of
            %article.span4.borderleft.par_el
              %p Technical skills include programming C++, Java, C#, especially strong at web development with Ruby on Rails, AngularJs, HTML5, MySQL, etc., as well as rich experience of project management.
              %p Research skills in statistics and data analysis with the tools of Matlab and R, SPSS.
              %p Most importantly, I love doing what I do.
            .span5.skill_level
              %h4 C++, Java, C#
              .progressbar.percent_70
                .progressbar-inner
              %h4 Rails & MySQL
              .progressbar.percent_90
                .progressbar-inner
              %h4 Javascript(JQuery, AngularJs) & HTML5
              .progressbar.percent_60
                .progressbar-inner
              %h4 Data Analysis(R, Matlab)
              .progressbar.percent_80
                .progressbar-inner
            / /skill_level
          / /my_expertise
          / end MY EXPERTISE
          / PUBLICATIONS
          %section#publications.row-fluid.publications
            %aside.span3.aside_el
              %h2 Publications
              %h5
                Papers I've published
            .span9
              .row-fluid
                %article.span12.borderleft.par_el.in_spacing
                  %span.period  2013 - Present
                  .bigspacing
                    %ul
                      %li
                        %p 
                          Rao, H., Huang, S. W. & Fu, W.-T..
                          %a(href="publications/hcomp13.pdf" target="_blank")
                            What Will Others Choose? How a Majority Vote Reward Scheme Can Improve Human Computation in a Spatial Location Identification Task. 
                          Accepted by The first AAAI conference on Human Computation and Crowdsourcing (HCOMP-2013), Palm Springs, California.
                      %li
                        %p 
                          Rao, H., & Fu, W.-T.. 
                          %a(href="publications/CiMER13.pdf" target="_blank")
                            Combining Schematic and Augmented Reality Representations in a Remote Spatial Assistance System.
                          In Proceedings of IEEE ISMAR 2013 Workshop on Collaboration in Merging Realities, Adelaide, SA, Australia
                      %li
                        %p 
                          Rao, H., & Fu, W.-T.. 
                          %a(href="publications/LAMDa13.pdf" target="_blank")
                            A General Framework for a Collaborative Mobile Indoor Navigation Assistance System. 
                          In Proceedings of the ACM International Conference on Intelligent User Interfaces (IUI), Santa Monica, CA.
              .row-fluid
                %article.span12.borderleft.par_el.in_spacing
                  %span.period  2011
                  .bigspacing
                    %ul
                      %li
                        %p
                          Cairong Zhao, Chuancai Liu, Zhihui Lai, Huaming Rao, 
                          %a(href="publications/AEUE.pdf" target="_blank")
                            Sparse embedding visual attention system combined with edge information
                          , AEU - International Journal of Electronics and Communications 65, no. 12 (2011): 1061-1068.
          / /publications
          / end PUBLICATIONS
          / projects
          %section#projects.row-fluid.projects
            %aside.span3.aside_el
              %h2 Projects
              %h5 where I worked
            .span9
              .row-fluid
                %article.span12.borderleft.par_el.in_spacing
                  %span.period 2012 - Present
                  .bigspacing
                    %header
                      %h2 Remote spatial reasoning under uncertainty
                    %img(src="images/projects/spatial.jpg")
                    %p
                      How do people communicate spatial information through mobile devices? How can maps and interactions on mobile devices be designed to facilitate spatial inferences and reasoning under uncertainty? How do people utilize spatial cues and landmarks to make spatial inferences? How are spatial cues for indoor and outdoor navigation different? This project aims at understanding and supporting spatial reasoning under uncertainty when spatial knowledge may be distributed across people in remote locations.
              -#.row-fluid
                -#%article.span12.borderleft.par_el.in_spacing
                  -#%span.period 2013.6 - Present
                  -#.bigspacing
                    -#%header
                      -#%h2 Crowd feedbacks for visual designs
                    -#%img(src="images/projects/spatial.jpg")
                    -#%p
                      -#How do people communicate spatial information through mobile devices? How can maps and interactions on mobile devices be designed to facilitate spatial inferences and reasoning under uncertainty? How do people utilize spatial cues and landmarks to make spatial inferences? How are spatial cues for indoor and outdoor navigation different? This project aims at understanding and supporting spatial reasoning under uncertainty when spatial knowledge may be distributed across people in remote locations.
              -#.row-fluid
                -#%article.span12.borderleft.par_el.in_spacing
                  -#%span.period 2013.6 - Present
                  -#.bigspacing
                    -#%header
                      -#%h2 Dynamic analysis of crowdfunding
                    -#%img(src="images/projects/spatial.jpg")
                    -#%p
                      -#How do people communicate spatial information through mobile devices? How can maps and interactions on mobile devices be designed to facilitate spatial inferences and reasoning under uncertainty? How do people utilize spatial cues and landmarks to make spatial inferences? How are spatial cues for indoor and outdoor navigation different? This project aims at understanding and supporting spatial reasoning under uncertainty when spatial knowledge may be distributed across people in remote locations.
          / /projects
          / end projects
          / EDUCATION
          %section#education.row-fluid.education
            %aside.span3.aside_el
              %h2 Education
              %h5
                my college and
                %br
                my educating experience
            .span9
              .row-fluid
                %article.span12.borderleft.par_el.in_spacing
                  %span.period 2012 - Present
                  .bigspacing
                    %header
                      %h3 University of Illinois at Urbana-Champaign, USA
                      %p Visiting Scholar, Human Computer Interaction
              .row-fluid
                %article.span12.borderleft.par_el.in_spacingbottom
                  %span.period 2009 - Present
                  .bigspacing
                    %header
                      %h3 Nanjing University of Science & Technology, P.R. China
                      %p Ph.D. candidate, Computer Science
              .row-fluid
                %article.span12.borderleft.par_el.in_spacingbottom
                  %span.period 2008.8 - 2008.12
                  .bigspacing
                    %header
                      %h3 Ajou University, South Korea
                      %p Exchange Student, Computer Science
              .row-fluid
                %article.span12.borderleft.par_el.in_spacingbottom
                  %span.period 2005 - 2009
                  .bigspacing
                    %header
                      %h3 Nanjing University of Science & Technology, P.R. China
                      %p Bachelor，Computer Science
          / /education
          / end EDUCATION
          / PORTFOLIO
          %section#portfolio.row-fluid.portfolio
            %aside.span3.aside_el
              %h2 Photo
              %h5
                about my life
            .span9.borderleft
              .galleryContainer
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Yellowstone_prismatic_lake.jpg"}
                    %img{:alt => "", :src => "images/myLife/Yellowstone_prismatic_lake.jpg"}/
                  %h3 Yellowstone
                  %p Prismatic Lake
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Yellowstone_old_faithful.jpg"}
                    %img{:alt => "", :src => "images/myLife/Yellowstone_old_faithful.jpg"}/
                  %h3 Yellowstone
                  %p Old Faithful
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Yellowstone_wolves.jpg"}
                    %img{:alt => "", :src => "images/myLife/Yellowstone_wolves.jpg"}/
                  %h3 Yellowstone
                  %p Two wolves just ate a deer
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Yellowstone1.jpg"}
                    %img{:alt => "", :src => "images/myLife/Yellowstone1.jpg"}/
                  %h3 Yellowstone
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Yellowstone2.jpg"}
                    %img{:alt => "", :src => "images/myLife/Yellowstone2.jpg"}/
                  %h3 Yellowstone
                  %p Buffalo: Mother
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Yellowstone3.jpg"}
                    %img{:alt => "", :src => "images/myLife/Yellowstone3.jpg"}/
                  %h3 Yellowstone
                  %p Elk
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/bad_lands.jpg"}
                    %img{:alt => "", :src => "images/myLife/bad_lands.jpg"}/
                  %h3 Bad Lands
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/chicago_wills_tower.jpg"}
                    %img{:alt => "", :src => "images/myLife/chicago_wills_tower.jpg"}/
                  %h3 Chicago
                  %p Wills Tower
                .galleryItem
                  %a{:class => "lightbox['portfolio']", :href => "images/myLife/Disney_land1.jpg"}
                    %img{:alt => "", :src => "images/myLife/Disney_land1.jpg"}/
                  %h3 California
                  %p Disney Land
          / /portfolio
          / end PORTFOLIO
        / /page
        %footer.row-fluid.siteFooter
          #disqus_thread
          :javascript
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'huaming'; // required: replace example with your forum shortname
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          %noscript
            Please enable JavaScript to view the
            %a(href="http://disqus.com/?ref_noscript")
              comments powered by Disqus.
          %a.dsq-brlink(href="http://disqus.com")
            comments powered by
            %span.logo-disqus
              Disqus

          -##contact
            -#%aside.span3.aside_el
              -#%h2 Contact us
              -#%h5
                -#we reply in less
                -#%br/
                -#than 24 hours
            -#.span9.borderleft
              -#%form.comment_form{"data-validate" => "parsley"}
                -#%fieldset
                  -#%input#form_name.parsley-validated{"data-required" => "true", "data-trigger" => "focusin focusout", :placeholder => "Name", :type => "text"}/
                  -#%input#form_email.parsley-validated{"data-required" => "true", "data-trigger" => "focusin focusout", "data-type" => "email", :placeholder => "Email Address", :type => "text"}/
                  -#%textarea#form_message.parsley-validated{"data-required" => "true", "data-trigger" => "focusin focusout", :placeholder => "Message", :rows => "8"}
                  -#.send-button.pull-right
                    -#%a SEND THE MESSAGE
      / /container
    / /wrapper
    / build:js({.tmp,app}) scripts/scripts.js
    %script{:src => "scripts/jquery.min.js"}
    %script{:src => "scripts/parsley.min.js"}
    %script{:src => "scripts/lightbox.js"}
    %script{:src => "scripts/retina.js"}
    / endbuild
    :javascript
      // Google Analytics: change UA-XXXXX-X to be your site's ID
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38951229-2', 'illinois.edu');
      ga('send', 'pageview');


      $(document).ready(function(){
      	$('.comment_form input, .comment_form textarea').focus(function () { 
      		$(this).css({"-webkit-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "-moz-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "border": "1px solid #999"}); 
      	});
      	$('.comment_form input, .comment_form textarea').blur(function () { 
      		$(this).css({"-webkit-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "-moz-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "border": "1px solid #e0e0e0"}); 
      	});
      });
      $(".send-button").click(function () {
      	if ( $( '.comment_form' ).parsley('validate') ) {
      		var form_name = $("#form_name").val(); 
      		var form_email = $("#form_email").val(); 
      		var form_message = $("#form_message").val(); 
      		$.post("php/mailer.php", { name : form_name , email : form_email , message : form_message }, function(results){
      			alert(results);
      		}); 
      	} 
      });
      $(window).on('load resize', function () {
      	current_width = $(window).width();
      	if ( current_width < 767 ) {
      		$("br").hide();
      	} else {
      		$("br").show();
      	}
      });
      
      // Cache selectors
      if ( $(window).width() > 940 ) {
      	var lastId,
      		topMenu = $("#site_nav")
      		topMenuHeight = topMenu.outerHeight()+40,
      		// All list items
      		menuItems = topMenu.find("a"),
      		// Anchors corresponding to menu items
      		scrollItems = menuItems.map(function(){
      		  var item = $($(this).attr("href"));
      		  if (item.length) { return item; }
      		});
      } else {
      	var lastId,
      		topMenu = $("#site_nav")
      		topMenuHeight = topMenu.outerHeight()-140,
      		// All list items
      		menuItems = topMenu.find("a"),
      		// Anchors corresponding to menu items
      		scrollItems = menuItems.map(function(){
      		  var item = $($(this).attr("href"));
      		  if (item.length) { return item; }
      		});
      
      }
      
      
      // Bind click handler to menu items
      // so we can get a fancy scroll animation
      menuItems.click(function(e){
        var href = $(this).attr("href"),
      	  offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
        $('html, body').stop().animate({ 
      	  scrollTop: offsetTop
        }, 300);
        e.preventDefault();
      });

      // Bind to scroll
      $(window).scroll(function(){
         // Get container scroll position
         var fromTop = $(this).scrollTop()+topMenuHeight;
         
         // Get id of current scroll item
         var cur = scrollItems.map(function(){
      	 if ($(this).offset().top < fromTop)
      	   return this;
         });
         // Get the id of the current element
         cur = cur[cur.length-1];
         var id = cur && cur.length ? cur[0].id : "";
         
         if (lastId !== id) {
      	   lastId = id;
      	   // Set/remove active class
      	   menuItems
      		 .parent().removeClass("active")
      		 .end().filter("[href=#"+id+"]").parent().addClass("active");
         }                   
      });// $('.scrollup').fadeIn();
      
      $(window).scroll(function(){
      	var pos = $(window).scrollTop();
      	if (pos > 55 && current_width > 940) {
      		$(".site_nav").css({
      				"position": "fixed",
      				"top":    "0",
      				"width":    "940px",
      				"margin-bottom":    "55px",
      		});
      		$("#aftermenuspace").css({
      				"height":    "55px",
      		});
      	} else {
      		$(".site_nav").css({
      				"position": "relative",
      				"margin-bottom":    "0",
      				"width":    "100%",
      		});
      		$("#aftermenuspace").css({
      				"height":    "0",
      		});
      	}
      	if ( pos > 600 ) { $('.upbtn').fadeIn();} else { $('.upbtn').fadeOut(); }
      });
      
      $('.upbtn').click(function(){
      	$("html, body").animate({ scrollTop: 0 }, 600);
      	return false;
      });
